.app-features-container{
    background-color: rgb(37, 34, 57);
}
.feature-heading{
    color: white;
    font-weight: bold;
}
.feature-text{
    color: white;
}
.weather-analysis-heading{
    color: white;
    line-height: 40px;
}
hr{
    color: gray;
}
.awesome-photo{
    width: 100%;
    height: 100%;
}